/* Tag selector */
body {
    font-family: Arial;
    background-color: #f4f4f4;
}

/* ID selector */
#main-title {
    color: darkblue;
    text-align: center;
}

/* Class selector */
.section {
    background-color: white;
    margin: 20px;       /* Box Model Property 1 */
    padding: 15px;      /* Box Model Property 2 */
    border: 2px solid #bf5700; /* Box Model Property 3 - UT Orange! */
    border-radius: 8px; 
}

/* Class reused */
.text {
    color: black;
}

/* Hover effect */
a:hover {
    color: red;
}